<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<add key="TeamCityUser" value="TeamCity"/>
	<add key="HipChatRoomName" value="Aidaws"/>
	<add key="HipChatToken" value="UxgzTgsGSbHK0A0gbIdZ9l1AP7rIFZLG58WEzWzA"/>
	<add key="RunCommand" value="run"/>
	<add key="StatusCommand" value="status"/>
	<add key="ClientsAppellative" value="Clients"/>
</configuration>